<div class="container">
  <% if logged_in? %>
    <h1>Welcome, <%= current_user.username %>!</h1>
    <a href="/daily_activities/new">Add today's highs and lows</a>

    <h2>Your highs and lows the past 7 days are:</h2>
    
    <% @daily_activities.last(7).reverse.each do |activity| %>
      <%= activity.highs %><br>
      <%= activity.lows %><br>
      <%= activity.created_at %><br><br>
      <a href="/daily_activities/<%= activity.id %>/edit">Edit</a>
    <% end  %>

  <% else %>
    <h2>You must be logged in to view this page</h2>
  <% end %>
</div>